.body {
    background-color: #322F3D;
    font-family: 'Trebuchet MS', sans-serif;
    height: 100%;
}

.body::-webkit-scrollbar {
    display: none;
}

.main_page {
    display: flex;
    flex-direction: column;
}

/* ----------------------------- TOP NAVIGATION BAR */

.top_container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #4B5D67;
    padding: 5px;
}

.navbar_section {
    display: flex;
    width: fit-content;
    justify-content: space-between;
    flex-direction: row;
}

.backtoMain {
    width: 300px;
    border-radius: 20px;
    margin: 5px 0px 5px 15px;
}

input[type="text"]::placeholder {
    padding: 10px;
    color: white;
}

.search_bar {
    width: 600px;
    height: 40px;
    padding: 10px;
    margin: 5px 0px 5px 0px;
    border-radius: 50px 0px 0px 50px;
    background-color: #322F3D;
    border: solid;
    border-width: 1px;
    border-color: white;
}

.search_btn {
    background-color: #f3a340;
    color: black;
    height: 40px;
    width: 50px;
    margin-top: 5px;
    padding: 5px;
    font-size: 20px;
    border: solid;
    border-width: 1px;
    border-color: white;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
}

.login_signup {
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    display: inline-block;
    border-radius: 30px;
    border-color: white;
    background-color: #f3a340;
    margin: auto;
    border: 0px;
    padding: 5px;
}

.profile_button {
    overflow: hidden;
    text-align: center;
    height: 60px;
    width: 60px;
    border-style: solid;
    border-color: #f3a340;
    border-width: 3px;
    border-radius: 100px;
    margin: 5px 20px 5px 30px;
}

.backtoMain:hover{
    background: -webkit-linear-gradient(left, #322F3D 30%, #4B5D67 70%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login_signup:hover, .search_btn:hover, .profile_button:hover, .ask_question:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ----------------------------- BODY CONTAINER */

.body_container {
    flex-direction: column;
    align-items: center;
}

.page_contents {
    display: flex;
    flex: 10;
    flex-direction: row;
}

/* ----------------------------- LEFT BAR */

.leftbar{
    color: white;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    padding-top: 40px;
    background-color: #423e50;
}

.profile_img{
    overflow: hidden;
    text-align: center;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #f3a340;
    border-width: 3px;
    border-radius: 100px;
    margin: 5px 20px 5px 30px;
    border-radius: 100%;
}

.profile_details{
    margin-top: 60px;
    padding: 5px;
}

/* ----------------------------- PROFILE CONTENTS */

.feed_container {
    height: fit-content;
    width: 850px;
    margin-right: 20px;
}

.profile_contents{
    display: flex;
    flex-direction: column;
    flex: 8;
    justify-content: center;
    align-items: center;
}

.feed_header {
    margin-top: 20px;
    height: 50px;
    display: flex;
}

.ansquest_textbox {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 0px;
    width: 200px;
    padding: 10px;
    font-size: 50px;
    color: white;
    background-color: #4B5D67;
    text-align: center;
    box-shadow: 0px 0px 5px #7d7597;
}

.feed {
    margin-top: 10px;
    padding: 0px 20px 10px 20px;
    height: fit-content;
    background-color: #4B5D67;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

.feed #seemore {
    text-align: right;
    color:#4e93c2;
}

.post {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #97b5c5;
    margin: 20px;
    padding: 15px;
}

.post_w_ans {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px 0px 0px;
    background-color: #97b5c5;
    margin: 20px 20px 0px 20px;
    padding: 15px;
}

.ans {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 0px 0px 10px 10px;
    background-color: #cdeeff;
    margin: 0px 20px 0px 20px;
    padding: 15px;
}

.ansplusarrow {
    display: flex;
    flex-direction: row;
}

#arrow {
    margin-right: 5px;
}

.qtitle_textbox {
    margin-bottom: 10px;
}

.qdesc_textbox {
    margin-bottom: 10px;
}

.postedby_textbox{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}